<div class="grid" style="--bs-columns: 10; --bs-gap: 1rem;">
  {{#if user}}
  <div class="g-col-6">
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-4">ФИО</div>
        <div class="col-6 col-sm-4">{{user.fname}} {{user.lname}} {{user.sname}}</div>
        <!-- Заставит следующие колонки переходить на новую строку в контрольной точке md и выше -->
        <div class="w-100 d-none d-md-block"></div>

        <div class="col-6 col-sm-4">Группа</div>
        <div class="col-6 col-sm-4">{{user.Group.name}}</div>

        <div class="w-100 d-none d-md-block"></div>

        <div class="col-6 col-sm-4">Дата выпуска</div>
        <div class="col-6 col-sm-4">{{user.graduateAt}}</div>
        
        <div class="w-100 d-none d-md-block"></div>

        <div class="col-6 col-sm-4">Телеграм</div>
        <div class="col-6 col-sm-4">{{user.telegram}}</div>
        
        <div class="w-100 d-none d-md-block"></div>

        <div class="col-6 col-sm-4">HH</div>
        <div class="col-6 col-sm-4"><a href="{{user.hh}}">{{user.hh}}</a></div>

        <div class="w-100 d-none d-md-block"></div>

        <div class="col-6 col-sm-4">Github</div>
        <div class="col-6 col-sm-4"><a href="{{user.github}}">{{user.github}}</a></div>
        
        <div class="col-6 col-sm-4">Резюме в PDF</div>
        <div class="col-6 col-sm-4"><a download href="{{user.file}}">Скачать резюме</a></div>
      </div>
      <a href="/admin/user/edit" class="btn btn-warning"></a>
    </div>
  </div>
  <div class="g-col-4">
    <img src="{{user.photo}}" class="img-fluid rounded-start" alt="...">
  </div>
  {{/if}}
</div>
