{{>header}}
<div>
{{>admin.navbar}}
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <ul>
        <li>ФИО</li>
        <li>Группа</li>
        <li>Дата выпуска</li>
        <li>Телеграм</li>
        <li>HH</li>
        <li>Github</li>
        <li>Скачать резюме</li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-8 col-sm-6">
          <ul>
        <li>{{user.firstname}} {{user.lastname}} {{user.patronymic}}</li>
        <li>{{user.Group.name}}</li>
        <li>{{user.graduationdate}}</li>
        <li><a href="https://telegram.me/username/{{user.telegram}}">{{user.telegram}}</a></li>
        <li><a href="{{user.hhcv}}">{{user.hhcv}}</a></li>
        <li><a href="{{user.github}}">{{user.github}}</a></li>
        {{#if user.pdfcv}}
        <li><a download href="/uploads/{{user.pdfcv}}">Скачать резюме в PDF</a></li>
        {{else}}
        <li>резюме отсутствует в базе</li>
        {{/if}}
      </ul>
        </div>
        <div class="col-4 col-sm-6">
           <img width="300px" src="/uploads/{{user.userphoto}}" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
      <a href="/admin/user/edit/{{user.id}}" class="btn btn-warning">Редактировать профиль</a>
      <a href="/admin/user/delete/{{user.id}}" class="btn-delete-user">Удалить из базы</a>
    </div>
  </div>
</div>
