{{>header}}
<div>
{{>admin.navbar}}
</div>
<h1>Группа {{Group.name}}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">ФИО</th>
      <th scope="col">Дата выпуска</th>
      <th scope="col">telegram</th>
      <th scope="col">HH</th>
      <th scope="col">gihub</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th>{{this.id}}</th>
      <td><a href="/admin/user/{{this.id}}">{{this.firstname}} {{this.lastname}} {{this.patronymic}}</a></td>
      <td>{{this.graduationdate}}</td>
      <td><a href="http://t.me/{{this.telegram}}">{{this.telegram}}</a></td>
      <td><a href="{{this.hhcv}}">{{this.hhcv}}</a></td>
      <td><a href="{{this.github}}">{{this.github}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

